@media screen and (min-width: 1168px) {
  :root {
    --main-blue-color: #4d5ae5;
    --main-header-color: #2e2f42;
    --main-text-color: #434455;
    --link-hover-color: #404bbf;
    --cloud: #f4f4fd;
    --cornflower: #e7e9fc;
    --light-slate: #8e8f99;
    --quick-anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* Reset */

  h1,
  h2,
  h3,
  ul,
  li,
  p {
    color: var(--main-header-color);
    margin: 0;
    padding: 0;
  }

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    background-color: #ffffff;
  }

  ul {
    list-style: none;
  }

  img {
    display: block;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  header {
    border-bottom: 1px solid var(--cornflower);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  header .container {
    display: flex;
  }

  header .list-item {
    padding: 24px 0;
  }

  .link {
    text-decoration: none;
  }

  .logo {
    color: var(--main-blue-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
  }

  .logo-word {
    color: var(--main-header-color);
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .site-nav .list {
    display: flex;
    gap: 40px;
  }

  .site-nav .list .link {
    display: block;
    color: var(--main-header-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--quick-anim);
  }

  .site-nav .list-item.current {
    color: var(--link-hover-color);
  }

  .list-item.link {
    position: relative;
  }

  .site-nav .list-item.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-hover-color);
  }

  .button {
    display: flex;
    border: none;
    cursor: pointer;
  }

  .site-nav .list .link:hover,
  .site-nav .list .link:focus {
    color: var(--link-hover-color);
    transition: color var(--quick-anim);
  }

  .address-nav {
    font-style: normal;
    margin-left: auto;
  }

  .address-nav .list {
    display: flex;
    gap: 40px;
  }

  .address-nav .link {
    color: var(--main-text-color);
    transition: color var(--quick-anim);
  }

  .address-nav .link:hover,
  .address-nav .link:focus {
    color: var(--link-hover-color);
    transition: color var(--quick-anim);
  }

  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 48px;
  }

  .hero .header {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 496px;
  }

  .hero .button,
  .modal .button {
    color: #ffffff;
    background-color: var(--main-blue-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    display: block;
    min-width: 169px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color var(--quick-anim);
  }

  .hero .button:hover,
  .hero .button:focus {
    background-color: var(--link-hover-color);
    transition: background-color var(--quick-anim);
  }

  .traits {
    padding: 120px 0;
  }

  .traits .header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .traits-icon-container {
    background-color: var(--cloud);
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  .traits .list {
    display: flex;
    gap: 24px;
  }

  .traits .list-item {
    width: 264px;
  }

  .projects .list,
  .team .list {
    display: flex;
    gap: 24px;
  }

  .projects .header {
    margin-bottom: 72px;
  }

  .projects {
    padding-bottom: 120px;
  }

  .projects-item {
    height: 300px;
    flex-basis: calc(100% - 48px) / 3;
  }

  .member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .member-role {
    text-align: center;
    margin-bottom: 8px;
  }

  .team {
    background-color: var(--cloud);
    padding: 120px 0;
  }

  .team .header {
    margin-bottom: 72px;
  }

  .team .member-text {
    padding: 32px 16px;
  }

  .projects .header,
  .team .header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
  }

  .member-card {
    background-color: #ffffff;
    width: 264px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  .member-text {
    display: flex;
    flex-direction: column;
  }

  .member-icons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
  }

  .member-icon-container {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .member-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--main-blue-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--quick-anim);
  }

  .member-icon-link:hover,
  .member-icon-link:focus {
    background-color: #404bbf;
    transition: background-color var(--quick-anim);
  }

  .member-icon {
    fill: var(--cloud);
  }

  .customers {
    padding: 120px 0;
  }

  .customers .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .customers-list {
    display: flex;
    gap: 24px;
    width: 100%;
  }

  .customer-icon-container {
    width: 168px;
    height: 88px;
  }

  .customer-icon-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: var(--light-slate);
    transition: border-color var(--quick-anim), color var(--quick-anim);
  }

  .customer-icon-link:hover,
  .customer-icon-link:focus {
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
    transition: color var(--quick-anim), border-color var(--quick-anim);
  }

  .customer-icon {
    fill: currentColor;
  }

  .customers .header {
    margin-bottom: 72px;
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity var(--quick-anim), visibility var(--quick-anim);
  }

  .is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform var(--quick-anim);

    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  }

  .modal-button {
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--cornflower);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    transition: background-color var(--quick-anim), border var(--quick-anim);
  }

  .modal-button:hover,
  .modal-button:focus {
    background-color: var(--link-hover-color);
    border: none;
  }

  .modal-button:hover .modal-x,
  .modal-button:focus .modal-x {
    fill: white;
  }

  .modal-x {
    transition: fill var(--quick-anim);
  }

  .modal-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  .form-header {
    color: var(--main-header-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
  }

  .form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    width: 100%;
    position: relative;
  }

  .field-label,
  .textarea,
  .form-input,
  .textarea::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    margin-bottom: 4px;
  }

  .field-label {
    margin-bottom: 4px;
    color: var(--light-slate);
  }

  .input-icon-container {
    position: relative;
  }

  .form-input,
  .textarea {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color var(--quick-anim);
  }

  .form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill var(--quick-anim);
  }

  .comment {
    margin-bottom: 16px;
  }

  .textarea {
    height: 120px;
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
  }

  .form-input:focus,
  textarea:focus {
    border-color: var(--main-blue-color);
  }

  .form-input:focus + .form-input-icon {
    fill: var(--main-blue-color);
  }

  .form-checkbox {
    width: 360px;
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .form-checkbox-input {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color var(--quick-anim), border var(--quick-anim),
      fill var(--quick-anim);
  }

  .checkbox:checked + .checkbox-label .form-checkbox-input {
    background-color: var(--link-hover-color);
    border: none;
    fill: var(--cloud);
  }

  .pp-link {
    color: var(--main-blue-color);
    text-decoration: underline;
  }

  .footer {
    background-color: var(--main-header-color);
    padding: 100px 0;
  }

  .footer .container {
    display: flex;
    align-items: baseline;
  }

  .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
  }

  .footer .logo-word {
    color: var(--cloud);
  }

  .footer-text {
    color: var(--cloud);
    width: 264px;
  }

  .footer-socials {
    margin-right: 80px;
  }

  .footer-left {
    margin-right: 120px;
  }

  .footer-socials-icons {
    display: flex;
    width: 208px;
    gap: 16px;
  }

  .footer-icon-container {
    width: 40px;
    height: 40px;
  }

  .footer-icon-link {
    width: 100%;
    height: 100%;
    background-color: var(--main-blue-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--quick-anim);
  }

  .footer-icon-link:hover,
  .footer-icon-link:focus {
    background-color: #31d0aa;
  }

  .footer-icon {
    fill: var(--cloud);
  }

  .footer-header {
    color: white;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background-color: transparent;
  }

  .footer-submit {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }

  .footer-input,
  .footer-input::placeholder {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.48px;
  }

  .footer .button {
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    background-color: var(--main-blue-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  .footer-button-icon {
    fill: white;
    margin-left: 16px;
  }

  .button-list {
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
    justify-content: center;
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .filter-button {
    color: var(--main-blue-color);
    background-color: var(--cloud);
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    transition: color var(--quick-anim), background-color var(--quick-anim),
      border-color var(--quick-anim), box-shadow var(--quick-anim);
  }

  .portfolio-item .header {
    color: var(--main-header-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }

  .filter-button:hover,
  .filter-button:focus {
    color: #ffffff;
    background-color: var(--link-hover-color);
    border: 1px solid transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .portfolio-item .link {
    display: block;
    position: relative;
    transition: box-shadow var(--quick-anim);
  }

  .portfolio-item .link:hover,
  .portfolio-item .link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .portfolio-item-thumb {
    position: relative;
    overflow: hidden;
  }

  .portfolio-item-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1, 5;
    letter-spacing: 0.02em;
    color: var(--cloud);
    background-color: var(--main-blue-color);
    transform: translateY(100%);
    transition: transform var(--quick-anim);
  }

  .portfolio-item .link:hover .portfolio-item-overlay,
  .portfolio-item .link:focus .portfolio-item-overlay {
    transform: translateY(0);
  }

  .portfolio-item-text {
    color: var(--main-text-color);
    width: 360px;
    padding: 32px 16px;
    border: 1px solid var(--cornflower);
    border-top: 0;
  }
}
